<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire de prédiction</title>
</head>
<body>
    <h1>Mon patient est il à risque de maladie coronarienne ?</h1>
    <form action="/predict" method="post">
        <label for="age">L'age du patient:</label>
        <input type="text" id="age" name="age" required><br><br>

        <label for="education">Le niveau d'education du patient:</label>
        <input type="text" id="education" name="education" required><br><br>

        <label for="sex">son Sexe:</label>
        <input type="text" id="sex" name="sex" required><br><br>

        <label for="is_smoking">le patient fume t'il :</label>
        <input type="text" id="is_smoking" name="is_smoking" required><br><br>

        <label for="cigsPerDay">Combien de cigarettes par jour en moyenne :</label>
        <input type="text" id="cigsPerDay" name="cigsPerDay" required><br><br>

        <label for="BPMeds">Le patient prend t'il des médicaments pour la tension artèrielle:</label>
        <input type="text" id="BPMeds" name="BPMeds" required><br><br>

        <label for="prevalentStroke">A t'il deja fait un AVC:</label>
        <input type="text" id="prevalentStroke" name="prevalentStroke" required><br><br>

        <label for="prevalentHyp">Fait t'il de l'hypertension:</label>
        <input type="text" id="prevalentHyp" name="prevalentHyp" required><br><br>

        <label for="diabetes">Est t'il diabétique:</label>
        <input type="text" id="diabetes" name="diabetes" required><br><br>

        <label for="totChol">quel est son taux de cholestérol:</label>
        <input type="text" id="totChol" name="totChol" required><br><br>

        <label for="sysBP">pression artérielle systolique du patient:</label>
        <input type="text" id="sysBP" name="sysBP" required><br><br>

        <label for="diaBP">pression artérielle diastolique du patient :</label>
        <input type="text" id="diaBP" name="diaBP" required><br><br>

         <label for="BMI">son IMC:</label>
        <input type="text" id="BMI" name="BMI" required><br><br>

        <label for="heartRate">sa fréquence cardiaque au repos:</label>
        <input type="text" id="heartRate" name="heartRate" required><br><br>

        <label for="glucose">son taux de glucose :</label>
        <input type="text" id="glucose" name="glucose" required><br><br>

        <input type="submit" value="Prédire">
    </form>
</body>
</html>